
					body {
			      background-color: #327782;
				    height: 100%;
				    position: relative;
				  margin-top: 5rem;
					}
					.row{
						    margin-right: -80px;
    margin-left: -77px;
					}

					h1, h2, h3, h4, h5, h6 {
					  color: #5f788a;
					}

					ul {
					  margin: 0;
					}

					.bg-steel {
					  background-color: #1e2328;
					}

					.site-header .navbar-nav .nav-link {
					  color: #cbd5db;
					}

					.site-header .navbar-nav .nav-link:hover {
					  color: #ffffff;
					}

					.site-header .navbar-nav .nav-link.active {
					  font-weight: 500;
					}

					.content-section {
					    background: #ffffff;
					       padding: 35px 13px;

					    border: 1px solid #28a745;
					    border-radius: 18px;
					    margin-bottom: 17px;
					}

					.article-title {
					    /*font-family: 'Balsamiq Sans', cursive;*/
					  color: #444444;
					}

					a.article-title:hover {
					  color: #428bca;
					  text-decoration: none;
					}

					.article-content {
					  white-space: pre-line;
					}

					.article-img {
					  height: 65px;
					  width: 65px;
					  margin-right: 16px;
					}

					.article-metadata {
					  padding-bottom: 1px;
					  margin-bottom: 4px;
					  border-bottom: 1px solid #e3e3e3
					}

					.article-metadata a:hover {
					  color: #333;
					  text-decoration: none;
					}

					.article-svg {
					  width: 25px;
					  height: 25px;
					  vertical-align: middle;
					}

					.account-img {
					  height: 125px;
					  width: 125px;
					  margin-right: 20px;
					  margin-bottom: 16px;
					}

					.account-heading {
					  font-size: 2.5rem;
					}

	